@CHARSET "UTF-8";
@CHARSET "ISO-8859-1";

/* ------------------------------------ Front Page -------------------------------- */

/* Title and logo */
#gameTitle{
	min-width:25%;
	width:25%;
	text-align:center;
	color:#EF5F21; 
	/*color: white;*/
	/* background-color: #fff; */
	background-color: none;
}
	
#gameTitle img{
	width:95px;
	height:65px;
}

#gameTitle p{
	font-weight:700;
	font-size:30px;
	line-height:0.9;
	text-align:center;
}

@media(max-width:1200px){
	#gameTitle img{
		display:none;
	}
	#gameTitle p{
	width:100%;
	}
}


img{
	margin-bottom: 10px !important;
}
.moldura{
	width: 65% !important;
	margin: auto !important;
	background-color: white !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	background-color: white !important;
}

#displaybackground {
	background: url("#{resource['images:backgroundnew.png']}");
	/*background-attachment: fixed;*/
	background-size: 100%;
	background-repeat: no-repeat;
 	background-color: #EE8F00;
}

/* Zona do search */
.search1{
	display:flex;
	position:relative;
	float: left;
  	background-color: #000;
    flex-direction: column;
    min-width: 25%;
    border-radius: 0px !important;
    font-weight: bold;
    border: 1px solid black;
}

.search1 .ui-state-default, .search1 .ui-widget-content.ui-state-default, .search1 .ui-widget-header.ui-state-default{
	
}

.search1 .ui-inputfield {
	border-radius: 0px !important;
	width:100%;
	box-shadow:none;
	border: 1px;
	border-color: black;
}

.searchTitle{
	border-radius: 0px !important;
}

.searchTitle form{
	border-radius: 0px !important;
	margin-bottom: 0px;
	border: 1px solid black;
}

.searchCatPlat form{
	border: 1px solid black;
}

.searchCatPlat{
	display:flex;
	flex-direction:row;
	border-radius: 0px !important;
}

.searchCat{
	margin-top: 0px;
	width:50%;
	border-radius: 0px !important;
}

.searchPlat{
	margin-top: 0px;
	width:50%;
	border-radius: 0px !important;
}

.search1 .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all{
	width:100%;
	min-width:inherit !important;
	border-radius: 0px !important;
	padding-right: 0px;
	border-right: none;
}

.search1 label{
	border-radius: 0px !important;
}

.search1 .ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
	border-radius: 0px !important;
	width: 25px;

}

/* Login, Sign Up, Dashboard and Shopping cart buttons */

#dashboard, #login, #signup{
	color:white;
	background-color:transparent ;
	border-style: hidden;
	margin:0 2em 0 0;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

#cart{
	vertical-align: middle;
	margin-bottom:5px;
	height:20px;
	width:auto;
}

#dashboard:hover, #login:hover, #signup:hover{
	color: #EF5F21;
	background-color:transparent;
}

.header-left ul li input[type=button]{
	padding:0px;
}

/* Display of Categories and Platforms */

#gridIndex{
	padding-top:30px;
	padding-bottom:30px;
}

.Tabs{
	text-align:center !important;
	display:flex;
	justify-content:center;
	color:white !important;
	margin-bottom: 20px !important;
	border-color: black !important;
}

#gridIndex .tab-panel{
	background-color: white !important;
	border:1px solid #333333;
	border-radius: 5px;
}

.TabCategory, .TabPlatform{
	width:100%;
	background: none;
}

.TabCategory.active #j_idt31_tab, .TabPlatform.active #j_idt37_tab{
	background-color: #f2f2f2 !important;
	border: hidden !important;
}


.GridCategory .ui-panel-footer.ui-widget-content, .GridPlatform .ui-panel-footer.ui-widget-content{
	text-align: center !important;
}


/* Footer */

.fooooter{
	font-weight:normal !important;
	font-size: 10pt;
	font-family: Arial;
	text-align: center;
	margin-top: 20px; 
	background: none !important;
	color: black !important; 
}


/* ------------------------------------ Product Catalog -------------------------------- */

#productcatalog{
	text-align: center;
	padding-top: 30px;
	margin-bottom: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: black;
	
}

.row{
 	align-content: right;
}

/* .paramum{
   font-weight: bold !important;
 	margin-bottom:0px;
} */

 .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
	text-align: center;
	
} 
 

.tab-content .ui-widget-header{
	background: none !important;
	/* color: white !important; */
	box-shadow: none !important;
	text-shadow: none !important;
	font-size:13pt !important;
	border: none !important;
	border-radius: 0px !important;
	padding:10px;
	
}  

.tab-content .ui-state-default{
	text-shadow: none !important;
	background: none  !important;
	font-weight:normal !important;
	border: none !important;
	font-weight:bold !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
 	border-bottom: 1px solid #333333 !important;
	border-top: 1px solid #333333 !important; 
	color: black !important;
}   

.tab-content .ui-datatable  {
	/* border:1px solid #333333 !important;	 */
}

.ui-datatable tbody td{
	border-style:none;
}

.tab-content .ui-widget-content{
	border: 0px;
	background:	none !important;
	color: black;
}	
	
.ui-column-customfilter .ui-selectcheckboxmenu .ui-widget .ui-state-default .ui-corner-all label{
	border: 0px!important;
}	

 .tab-content .ui-paginator-rpp-options {
	border: 0px !important;	
} 

.tab-content .ui-paginator{
	font-size: 12pt !important;
}

.tab-content .ui-paginator-page, .tab-content .ui-paginator-next,  .tab-content .ui-paginator-last,  .tab-content .ui-paginator-first, .tab-content .ui-paginator-prev {
	border: 0px !important;
	font-size: 10pt !important;
} 

.tab-content {
	border: 0px !important;
	
}

.tab-content .ui-column-customfilter .ui-selectcheckboxmenu,  .tab-content .ui-column-customfilter .ui-selectcheckboxmenu-trigger {
	border: 0px !important;
}

.tab-content .ui-selectcheckboxmenu-trigger  {
	margin-top: 0px !important;
}

	
/* ------------------------------------ Product Page -------------------------------- */


.flexbox{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.flexbox > *{
	/* flex-grow:1; */
}

.title{
	padding-left:2%;
}

#productExtraDetails{
	padding-left: 2%;
    padding-right: 5%;
}

#titleProduct{
	margin-top:auto;
	margin-bottom:20px;
	/* margin-left:130px; */
	font-style:oblique;
}

#imageGame{
	
	margin-top:40px;
/* 	margin-left:100px; */ 
	border-radius: 5px;
	border-color:transparent;
	width:240px;
	height:314px;
	border-radius: 5px;
} 

#video{
	margin-top:40px;
	border-radius: 5px;
	border-color:transparent;
	margin-bottom:5px;
	max-width: 100%; 
}


#formDescription{
	font-size:12pt;
	margin-top:40px;
}

#formDescription, #formDetails{
	padding-left:2%;
	padding-right:5%;  
} 

#description{
	text-align:left;
	text-wight:300;
	margin-top:20px;
	font-weight: bold;
}


#details{
	font-weight: bold;
}

#detailsText{
	display:block;
	text-align: justify;
	text-justify: inter-word;
}

.a, .b, .c, .d {
	text-align:center;
}

.columns{
	text-align:left;
	margin-top:60px;
	padding-bottom:30px;
}

#a1, #a2, #a3, #a4{
	margin-bottom:25px;
}

#availableFor, #respectiveCategory, #productAvaliability, #productPrice{
	text-align:center;
}

#addButton{
	margin-top:10px;
}

#addToCart{
	display:flex;
	border-radius: 5px;
	justify-content:space-around;
	background-color:orange;
}

h5{
	font-size:12pt;
	font-weight:bold;
	margin-top:20px;
}

.ui-datalist-content.ui-widget-content{
	border:0 !important;
	font-weight:normal;
}

/* ------------------------------------ Shopping Cart Page ------------------------------ */

#shoppingcart{
	text-align: center; 
	padding-top: 30px; 
	margin-bottom: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: black;
}

#ShoppingCart_head{
	display: none;
}

#rentalPeriod\:rentalDataButton, #j_idt48\:submitOrderButton{
	margin:5px;
}

#rentalPriceContainer{
	margin:10px;
}

#expectedRentalPrice{
	display:-webkit-box;
}

#submitOrder{
	padding-left:15px;
	padding-bottom:30px;
}

#ShoppingCart_data tr{
	border:hidden;
}


/* ------------------------------------ Checkout Page ------------------------------ */

#checkout{
	text-align: center; 
	padding-top: 30px; 
	margin-bottom: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: black;
}

#gamesList{
	padding:10px;
}

#gamesList table tr td{
	padding-right:10px;
}

#checkoutPageContainer{
	padding-bottom:30px;
}

/* ------------------------------------ Login and Register Page ------------------------ */

#accountTitle, #registerTitle{
	text-align: center;
	font-size: 36px;
	padding-top: 30px;
	margin-bottom: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: black;
}



.LoginButton{
	border-radius: 0px;
	font-weight: normal;
	outline:none; 
	padding: 4px 20px; 
	cursor:pointer; 
	background: #EF5F21; 
	border:none; 
	width:20%; 
	margin: 1em auto 0; 
	font-size: 1.2em;
	box-shadow: none;
	-webkit-transition: 0.5s all;
	font-family:inherit;

}

.LoginButton span{
	color:white;
}

.LoginButton:hover{
	box-shadow:none;
	background-color: black;
}

.RegisterButton{
	border-radius: 0px;
	font-weight: normal;
	background: #EF5F21;
    padding: 0.3em 1em;
    color: #fff;
    font-size: 1.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    border: none;
    outline: none;
}

.RegisterButton span{
	color:white;
}

.RegisterButton:hover{
	box-shadow:none;
	background-color: black;
}

.register-bottom-grid input{
	width: 100%;
	padding:1em;
	margin:1em 0;
	background:none;
	outline: none;
	border: 1px solid #A09F9F;
	-webkit-appearance:none;
}



