@CHARSET "UTF-8";

#footer {
	text-align:center;
}

 #title {
  color: #FFD200;  
  font-size: 47px;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: lighter;
  text-align:left;
  
}

 body{

	color: #FFD200;
} 

.ui-toolbar{
	background-color:#2f3c54;
	vertical-align:center !important;
	content-align:center !important;
}

.ui-toolbar-group-left {
	vertical-align:center !important;
	text-align:center;
}