@CHARSET "UTF-8";

/* @media screen and (max-width: 1024px) and (min-width: 300px){
	.body{
	
	}
} */

.fit-top{
	background-color:#f49b42;
}

.title{
	margin-left:100px; 
	margin-right:100px; 
}


#titleProduct{
	margin-top:auto;
	margin-bottom:20px;
	/* margin-left:130px; */
	font-style:oblique;
	
}

#titlePublisher{
	/* margin-left:130px; */
}

.ui-panelgrid-blank{
	
}

#imageGame{
	margin-top:40px;
	margin-left:90px;
	border-radius: 5px;
	border-color:transparent;
	width:300px;
	height:315px;
	
	
} 

#video{
	margin-top:40px;
	border-radius: 5px;
	border-color:transparent;
	
}

.description{
	margin-top:10px;
	/* margin-left:50px; */
}

#formDescription, #formDetails{
	
	margin-left:100px; 
	margin-right:100px; 
}   

#description{
	text-align:left;
	text-wight:300;
	margin-top:20px;
	font-weight: bold;
	
}

#details{
	font-weight: bold;
	
}

#detailsText{
	display:block;
	text-align: justify;
	text-justify: inter-word;
	margin-top:10px;
	
}

.a, .b, .c, .d {
	text-align:center;
}

.columns{
	text-align:left;
	margin-top:60px;
	margin-bottom:100px;
	/* margin-left:160px; */
}

#a1, #a2, #a3, #a4{
	margin-bottom:15px;
}

#availableFor, #respectiveCategory, #productAvaliability, #productPrice{
	/* margin-left:70px; */
	text-align:center;

}

#addButton{
	margin-top:10px;
	
}

#addToCart{
	display:flex;
	border-radius: 5px;
	justify-content:space-around;
	background-color:orange;
	
}


