@charset "ISO-8859-1";

h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.cat{
	display: inline-block;
	float: right;
}
.casesimage{
	align-text: center;
	align-content: center;
}

.gridprod{
	align-text: center;
	display: inline-block;
}