@charset "ISO-8859-1";

h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

 .row{
 align-content: right;
 }
 .paramum{
 font-weight: bold !important;
 margin-bottom:0px;
 }
#form:/ProductList:/0:/j_idt22{
	width: 2px !important;
}
}
