@charset "ISO-8859-1";

h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

 .row{
 align-content: right;
 }
 .paramum{
 font-weight: bold !important;
 margin-bottom:0px;
 }
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
	border-width: 0px;
	text-align: center;
}
}
