@CHARSET "UTF-8";

.fit-top{
	background-color:#f49b42;
}

#titleProduct{
	margin-top:auto;
	margin-bottom:20px;
	margin-left:130px;
	font-style:oblique;
	
}

#titlePublisher{
	margin-left:130px;
}

.ui-panelgrid-blank{
	
}

#imageGame{
	display:inline-block;
	padding:60px;
	width:300px;
	height:auto;
	max-width: 100%;
} 

#video{
	margin-top:40px;
	border-radius: 5px;
	border-color:transparent;
}

.description{
	margin-top:10px;
	margin-left:50px;
}

#formDescription{
	
	margin-left:100px;
	
	
}   

#description{
	text-align:left;
	text-wight:300;
	margin-top:20px;
	font-weight: bold;
	
}

#details{
	font-weight: bold;
}

#detailsText{
	display:block;
	text-align: justify;
	text-justify: inter-word;
	
}

.a, .b, .c, .d {
	text-align:center;
}

.columns{
	text-align:left;
	margin-top:60px;
	margin-bottom:100px;
	margin-left:160px;
}

#a1, #a2, #a3, #a4{
	margin-bottom:15px;
}

#availableFor, #respectiveCategory, #productAvaliability, #productPrice{
	margin-left:70px;
	text-align:center;

}

#addButton{
	margin-left:70px;
	
}

#addToCart{
	display:flex;
	border-radius: 5px;
	justify-content:space-around;
	
}

